body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: #000;
}

#canvas{
    height: 100%;
    width: auto;
    max-width: 100%;
    aspect-ratio: 16/9;    

    image-rendering: pixelated;

    background-color: aqua;
}

.sprites{
    display: none;
}

#hud {
    position: absolute;
    top: 20px;
    left: 200px;
    z-index: 999;
    font-size: 1.2em;
    font-family: sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 6px 10px;
    border-radius: 8px;
}
